<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes do Produto</title>

    <!-- / indica a raiz da pasta public -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/site.css" />
  </head>
  <body>
    <h1>Detalhes do Produto</h1>

    <div id="container-produto" class="container"></div>

    <!-- Importando o arquivo JS da pasta public/js -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/product-details.js"></script>
  </body>
</html>

async function carregarDetalhesProduto() {
  const path = window.location.pathname; // Pega o caminho da URL (ex: "/products/3")

  const partes = path.split("/");
  const id = partes[partes.length - 1]; // Divide a string pelas barras e pega o último elemento
  console.log(id);

  const response = await fetch(`/api/products/${id}`); // Usa o ID dinâmico no fetch
  const produto = await response.json();
  const container = document.getElementById("container-produto");

  container.innerHTML = `
      <div class="card">
        <h3>${produto.nome}</h3>
        <p>${produto.disponivel ? "Disponível" : "Esgotado"}</p>
        <p>${produto.id}</p>
      </div>
    `;
}

window.onload = carregarDetalhesProduto;